.categoryContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 56px;
  margin: 16px;
}

.image{
  width: 24px;
  height: 24px;
}