.filtersContainer{
  display: flex;
  flex-direction: row;
  width: 93px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  background-color: transparent;
  margin: 18px;
  padding: 4px;
}