.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  color: black;
}

.boxOptions {
  display: flex;
  flex-direction: column;
  flex-direction: space-around;
  align-items: center;
  width: 200px;
  height: 90%;
  border: 1px solid rgb(3, 3, 3);
  background-color: white;
  color: black;
  overflow-y: scroll;
  box-sizing: border-box;
}

.moveButtons{
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
  width: 60px;
  height: 100%;
  box-sizing: border-box;
  gap: 10px;
}

button{
  width: 30px;
  background-color: rgb(233, 224, 224);
  height: 30px;
  border-radius: 5px;
  color: rgb(77, 75, 75);
}
li{
 color:black;
 padding: 5px;
 
}
