.rangePricesLayout{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 32px 24px;
}

.headerText{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.priceSlider{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 32px 24px;
}
.graphPrices{
  padding: 32px 24px;
  width: 100%;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

