.calendarContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
}
/*.Mui-disabled {
  color: green !important;
}


.MuiDateCalendar-root {
  width: calc(calc(50px * 7) + 68px) !important;
}

.MuiDayCalendar-weekDayLabel {
  width: 50px !important;
  min-width: 50px !important;
}

.MuiPickersDay-root {
  width: 50px !important;
  height: 50px !important;
}*/